%h1 Listing events

%table
  %tr
    %th First name
    %th Last name
    %th Email
    %th Phone
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.first_name
      %td= event.last_name
      %td= event.email
      %td= event.phone
      %td= link_to 'Show', event
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
