%p#notice= notice

%p
  %b First name:
  = @event.first_name
%p
  %b Last name:
  = @event.last_name
%p
  %b Email:
  = @event.email
%p
  %b Phone:
  = @event.phone

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
